extends layout

block content
  .sides
    .col-md-6.sidea.ha.confianza_img
    .col-md-6.sideb.confiar.animated.fadeIn.upper
      .col-md-12.c-1 En crear en las escuelas espacios seguros de responsabilidad y de respeto que promueven el diálogo, la consecución de acuerdos y el reconocimiento de los derechos humanos

      .col-md-12.c-3 En que niñas y niños son capaces de adquirir herramientas para resolver conflictos y adoptar nuevas formas de convivencia y que están decididos a tomar un papel activo en pos de su comunidad

      .col-md-12.c-5 En que a través de la educación es posible construir un mejor país
      .icn.right.confianza_icn
        img(src="images/icn.svg", alt="")
      