extends layout

block content
  .sides
    .col-md-6.sidea.ha.confianza_img
    .col-md-6.sideb.confiar.animated.fadeIn
      .col-md-6.c-1 CONFIAMOS EN QUE LOS NIÑOS PUEDEN APRENDER A RELACIONARSE MEJOR DE LO QUE NOSOTROS APRENDIMOS
      .col-md-6.c-2 EN QUE LA EDUCACIÓN ES EL VEHÍCULO IDEAL PARA LOGRAR UN CAMBIO PERMANENTE EN LA SOCIEDAD
      .col-md-6.c-3 EN QUE PODEMOS APRENDER A CONSTRUIR LA PAZ
      .col-md-6.c-4 EN VER EL CONFLICTO COMO UNA OPORTUNIDAD DE APRENDIZAJE
      .col-md-12.c-5 EN EL DIÁLOGO COMO EL FUNDAMENTO DE SER Y DE PERTENECER
      