extends layout

block content
  .sides
    .col-md-6.sideb.m-1.mailer
      .mail.animated.fadeInDown
        a(href="mailto:contacto@proyectopaz.com") CONTACTO@PROYECTOPAZ.COM
    .col-md-6.sidea.ma.m-2.input-pimp
     #message 
     form
      .form-group
        input#name(type='name', placeholder='NOMBRE')
        input#mail(type='email', placeholder='E-MAIL')
        input#company(type='company', placeholder='EMPRESA')
        textarea#content(type='message', placeholder='MENSAJE')

      .col-md-12.text-right
        .enviar#send_email(type='submit' href="") ENVIAR
