extends layout

block content
  .sides
    .col-md-6.sideb.o-1.e-1.animated.fadeIn
      p Durante el año escolar 
       strong 2012-2013 
       span alumnos de 5o y 6o de 
       strong Primaria del Colegio Miraflores
       span participaron en Proyecto Paz. Maestros y directivos fueron capacitados en temas como:
      br
      p resolución de conflictos, educación para la paz, valores y habilidades para una convivencia sana, etc. Los alumnos realizaron asambleas de grupo semanalmente, así como talleres de trabajo en equipo, resolución de casos, comprensión y diálogo, etc.
      br
      p Los resultados que aquí aparecen, reflejan la percepción de 
        strong 120 alumnos entre 11 y 13 años
        span que respondieron un cuestionario antes y después de haber formado parte del proyecto. El cuestionario evalúa valores como: respeto, pertenencia, tolerancia, diálogo, empatía y compromiso. Se contó con un grupo de control que respondió los cuestionarios sin haber tenido asambleas y sin que sus maestros fueran capacitados.
      br
      p Los resultados obtenidos, en una escala del 1 al 5, 
        strong reflejan una clara mejoría en la percepción de los alumnos
        span que formaron parte de Proyecto Paz en todas las áreas evaluadas. Por el contrario, la percepción de los alumnos del grupo de control sobre tolerancia, respeto, aceptación, seguridad, diálogo y resolución de conflictos empeoró a lo largo del año escolar.
    .col-md-6.sidea.ha.o-2
      .col-md-12.tabla
        img(src="images/tabla.svg")