extends layout

block content
  .sides

    
    .col-md-6.sidea.part2.ha.a2
      .title INDICADORES TOLUCA 
        span.bright (734 ALUMNOS)
      .tag Ha aumentado la participación
      .numbers.text-center
        span.si Si
        span.porcentaje_no 90%
        span.no No 
        span.porcentaje_si 4%
      #wrapper
        #g1
          #g2
            #g3
              #g4
                #slider
                  #chart_holder
                    #pie_chart
                      ul
                        li#c1_r
                          p
                            span.pie_left
                        li#c1_l
                          p
                            span.pie_right
                        li#c2_r
                          p
                            span.pie_left
                        li#c2_l
                          p
                            span.pie_right
              // q1_2005
            // q2_2009
          // q3_2009
        // q4_2009
    .col-md-6.sideb.part2.o-1.a3
      .experiencia Durante el ciclo escolar 2014-2015 estuvimos en seis secundarias públicas en el municipio de Toluca, Estado de México. Trabajamos un promedio de 
      strong 220 horas por escuela 
      span  con un total de 1800 alumnos, maestros y directores. A lo largo del año escolar, alumnos y maestros desarrollaron herramientas para el diálogo, la transformación de conflictos, la participación y la convivencia que se tradujeron en 
      strong menores índices de violencia 
      span y en una comunidad más sólida y segura. 
      .icn.right.fix_bottom
        img(src="images/icn.svg", alt="")
      
    .col-md-6.sidea.ha.o-2.tabl.only-mobile
      .col-md-12.tabla
        img(src="images/tabla.svg")

    .col-md-6.sideb.o-1.e-1.animated.fadeIn.a3
      p Durante el año escolar 2012-2013 alumnos de 5o y 6o de Primaria del Colegio Miraflores participaron en Proyecto Paz.
      
      p Los resultados obtenidos, en una escala del 1 al 5, reflejan una clara mejoría en la percepción de los alumnos que formaron parte de Proyecto Paz en todas las áreas evaluadas. Por el contrario, la percepción de los alumnos del grupo de control sobre tolerancia, respeto, aceptación, seguridad, diálogo y resolución de conflictos empeoró a lo largo del año escolar.
      .icn.left
          img(src="images/icn.svg", alt="")
    .col-md-6.sidea.ha.o-2.tabl.no-mobile
      .col-md-12.tabla
        img(src="images/tabla.svg")

    .col-md-6.sidea.part2.ha.a2.a3.logros
      
      .title ¿Qué hemos logrado?
      p.text-justify · Que las escuelas adopten la metodología una vez terminado el proyecto al cabo de un año escolar.
      p.text-justify · Que la metodología trascienda las aulas: ha sido adoptada como mecanismo de diálogo entre maestros en Consejos Técnicos y muchos de los niños la han llevado hasta sus casas.
      p.text-justify · Que alumnos y maestros vuelvan a confiar en el diálogo. 
       
    .col-md-6.sideb.part2.o-1.a3
      .title Seguimos caminando
      p Además de su presencia en el Estado de México, Proyecto       Paz se ha extendido a municipios en Michoacán, Chiapas y Tamaulipas, contribuyendo a construir comunidades escolares en paz en entornos diversos. Desde el 2014 desarrollamos y coordinamos el Diplomado en Educación para la paz y derechos humanos que se imparte año con año en la Universidad Iberoamericana. 
      

      .icn.right
          img(src="images/icn.svg", alt="")

    .col-md-12.comment_b.super_title ¿Qué dicen lon alumnos?
    .col-md-12.comment_a  “ La asamblea es un lugar seguro donde podemos hablar sin insultarnos “
    .col-md-12.comment_b  “ Es muy bonito resolver conflictos, me gusta el Proyecto Paz“
    .col-md-12.comment_a  “ Que ahí podemos dialogar “
    .col-md-12.comment_b  “ Es un lugar para no ser tímidos “
    .col-md-12.comment_a  “ Puedo expresarme libremente sin lastimar a los demás “
    .col-md-12.comment_b  “ Para mí es un lugar de responsabilidad “
