extends layout

block content
  .sides

    .col-md-6.sideb.o-1.e-1.animated.fadeIn
      .experiencia EXPERIENCIA
      p Durante el año escolar 
       strong 2012-2013 
       span alumnos de 5o y 6o de  
       strong Primaria del Colegio Miraflores 
       span participaron en Proyecto Paz. Maestros y directivos fueron capacitados en temas como: 
      br
      p resolución de conflictos, educación para la paz, valores y habilidades para una convivencia sana, etc. Los alumnos realizaron asambleas de grupo semanalmente, así como talleres de trabajo en equipo, resolución de casos, comprensión y diálogo, etc.
      br
      p Los resultados que aquí aparecen, reflejan la percepción de 
        strong 120 alumnos entre 11 y 13 años 
        span que respondieron un cuestionario antes y después de haber formado parte del proyecto. El cuestionario evalúa valores como: respeto, pertenencia, tolerancia, diálogo, empatía y compromiso. Se contó con un grupo de control que respondió los cuestionarios sin haber tenido asambleas y sin que sus maestros fueran capacitados.
      br
      p Los resultados obtenidos, en una escala del 1 al 5, 
        strong reflejan una clara mejoría en la percepción de los alumnos 
        span que formaron parte de Proyecto Paz en todas las áreas evaluadas. Por el contrario, la percepción de los alumnos del grupo de control sobre tolerancia, respeto, aceptación, seguridad, diálogo y resolución de conflictos empeoró a lo largo del año escolar.
      .icn.left
          img(src="images/icn.svg", alt="")
    .col-md-6.sidea.ha.o-2
      .col-md-12.tabla
        img(src="images/tabla.svg")

    .col-md-6.sidea.part2.ha.a2
      .title INDICADORES TOLUCA 
        span.bright (734 ALUMNOS)
      .tag Ha aumentado la participación
      .numbers.text-center
        span.no no
        span.porcentaje_no 90%
        span.si si 
        span.porcentaje_si 90%
      #wrapper
        #g1
          #g2
            #g3
              #g4
                #slider
                  #chart_holder
                    #pie_chart
                      ul
                        li#c1_r
                          p
                            span.pie_left
                        li#c1_l
                          p
                            span.pie_right
                        li#c2_r
                          p
                            span.pie_left
                        li#c2_l
                          p
                            span.pie_right
              // q1_2005
            // q2_2009
          // q3_2009
        // q4_2009
    .col-md-6.sideb.part2.o-1.a3 
      .title ¿QUÉ HEMOS LOGRADO?
      p.text-justify Que las ecuelas adpten la metodología una vez terminado al proyecto al cabo de un año escolar
      p.text-justify Que la metodología trascienda las aulas: ha sido adoptada como mecanimo de diálogo entre maestros en Consejos Técnicos y mucho de los niños la han llevado hasta sus casas 
      p.text-justify Que alumnos y maestros vuelvan a confiar en el dialogo
      .icn.right
          img(src="images/icn.svg", alt="")
    .col-md-12.comment_b.super_title ¿QUÉ DICEN LOS ALUMNOS?
    .col-md-12.comment_a  “ La asamblea es un lugar seguro donde podemos hablar sin insultarnos “
    .col-md-12.comment_b  “ Es muy bonito resolver conflictos, me gusta el Proyecto Paz“
    .col-md-12.comment_a  “ Que ahí podemos dialogar “
    .col-md-12.comment_b  “ Es un lugar para no ser timidos “
    .col-md-12.comment_a  “ Puedo expresarme libremente sin lastimar a los demas “
    .col-md-12.comment_b  “ Para mi es un lugar de responsabilidad “
