extends layout

block content
  //- .col-md-6.menu.container-fluid
    
  //-       .navbar-header
  //-         button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
  //-           span.icon-bar -
  //-           span.icon-bar -
  //-           span.icon-bar -
  //-         span.logo
  //-           img(src="images/logo.svg", alt="")
  //-   #myNavbar.collapse.navbar-collapse 
  //-       ul.nav.navbar-nav.navbar-right
  //-         li.m2.active
  //-           a(href='#') 
  //-         li.m1
  //-           a(href='#') OBJETIVOS
  //-         li.m2
  //-           a(href='#') CONFIAMOS
  //-         li.m1
  //-           a(href='#') EXPERIENCIA
  .col-md-6.menu
    nav
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
              span.icon-bar -
              span.icon-bar -
              span.icon-bar -
            a.logo(href='#')
                 img(src="images/logo.svg", alt="")
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.m2.active
                a(href='#') QUIENES SOMOS
              li.m1
                a(href='#') OBJETIVOS
              li.m2
                a(href='#') CONFIAMOS
              li.m1
                a(href='#') EXPERIENCIA

    .social_mobile.menu2
      a.col-md-4.twitter(href='#')
        img(src="images/tweet.svg", alt="")
      a.col-md-4.face(href='#')
        img(src="images/face.svg", alt="")


  .col-md-6.menu2.text-center.no-mobile
    a.col-md-4.col-sm-4.twitter(href='#')
      img(src="images/tweet.svg", alt="")
    a.col-md-4.col-sm-4.face(href='#')
      img(src="images/face.svg", alt="")
    a.col-md-4.col-sm-4.contact(href='#')
      img(src="images/contact.svg", alt="")
