extends layout

block content

  .col-md-12.frase.animated.pulse 
    div LIBRE DE MIEDO
    div LIBRE DE VIOLENCIA 
    div LIBRE DE INDIFERENCIA
    div.icn 
      img(src="images/icn.svg", alt="")
  
  .sides
    .col-md-6.sidea.ha.animated
    .col-md-6.sideb.hb.animated.home
  .col-md-12.video.text-center
    iframe(src="https://www.youtube.com/embed/rO7KMnXrqZo?rel=0" frameborder="0" allowfullscreen)