extends layout

block content
  //- .banner.no-mobile.animated.fadeInUp
  //-     .circle
  //-       span.glyphicon.glyphicon-remove
  //-     .col-md-4.logo_ibero
          
  //-     .col-md-8
  //-         |Inscripciones abiertas 
  //-         br
  //-         strong Diplomado de Educación para la Paz y Derechos Humanos.
  //-         br  
  //-         |Inicio: 
  //-         strong 21 de septiembre.
  //-         br
  //-         |Cede:
  //-         strong  Museo de Memoria y Tolerancia.
  //-         br 

  //-         a(href="http://www.diplomados.ibero.mx/index.cfm?pag=registro.cfm&area=4&dec=12&ver=3&prog=0&tipo=4&anio=2016&tip=1&nombre=Educación%20para%20la%20Paz%20y%20Derechos%20Humanos&sede=2&colaborador=0&disciplina=0&programa=Ext#.V4bdKGPWVE4") http://www.diplomados.ibero.mx
  .col-md-12.frase.animated.pulse 
    div LIBRE DE MIEDO
    div LIBRE DE VIOLENCIA 
    div LIBRE DE INDIFERENCIA
    div.icn 
      img(src="images/icn.svg", alt="")
  
  .sides
    .col-md-6.sidea.ha.animated
    .col-md-6.sideb.hb.animated.home
  .col-md-12.video.text-center
    iframe(src="https://www.youtube.com/embed/rO7KMnXrqZo?rel=0" frameborder="0" allowfullscreen)