extends layout

block content
  .sides
    .col-md-6.sideb.o-1
      .somos.animated.fadeInUp FORMAR PARTE DE CADA COMUNIDAD EDUCATIVA PARA DARLES A LOS NIÑOS, MAESTROS Y PADRES DE FAMILIA LAS HERRAMIENTAS NECESARIAS PARA DESARROLLAR HABILIDADES Y VALORES COMO DIALOGO,
      .somos2 de enseñarles a los niños y a los jovenes que hay mejores formas de relacionarse, que el entendimiento y el crecimiento conjunto son posibles, que el diálogo construye puentes y que el conflicto nos enseña mucho de nosotros mismos
    .col-md-6.sidea.ha.o-2