extends layout

block content
  .sides
    .col-md-6.sidea.ha.somos_img.img-side
    .col-md-6.sideb.s-1.text-side
      .somos.animated.fadeInUp Una asociación civil sin fines de lucro que confía en que la 
        strong educación 
        span es el mejor vehículo para 
        strong construir 
        span una sociedad más justa y participativa y en que nunca es demasiado temprano para tener una 
        strong voz 
        span  y reconocer todas las demás. Implementamos programas de 
        strong educación para la paz 
        span en escuelas públicas y privadas creando espacios seguros de diálogo y participación.
      .icn.right
        img(src="images/icn.svg", alt="")
