extends layout

block content
  .sides
    .col-md-6.sidea.ha.somos_img.img-side
    .col-md-6.sideb.s-1.text-side
      .somos.animated.fadeInUp.upper Una asociación civil sin fines de lucro que confía en que la educación es el mejor vehículo para construir una sociedad más justa y participativa 
      .somos2  y en que nuca es demasiado temprano para tener una voz y reconocer todas las demás. Implementamos programas de educación para la paz en escuelas publicas y privadas creando espacios seguros de diálogo y participación
      .icn.right
        img(src="images/icn.svg", alt="")
