extends layout

block content
  .sides
    .col-md-6.sidea.ha.somos_img.img-side
    .col-md-6.sideb.s-1.text-side
      .somos.animated.fadeInUp SOMOS UN GRUPO DE PERSONA DECIDIDO A ASUMIR LA RESPONSABILIDAD DE INVENTAR UN MEJOR PRESENTE A TRAVÉS DE LA EDUCACIÓN PARA LA PAZ,
      .somos2 de enseñarles a los niños y a los jovenes que hay mejores formas de relacionarse, que el entendimiento y el crecimiento conjunto son posibles, que el diálogo construye puentes y que el conflicto nos enseña mucho de nosotros mismos
      .icn.right
        img(src="images/icn.svg", alt="")
