
@font-face {
    font-family: futura;
    src: url(../fonts/futura.ttf);
}

@font-face {
    font-family: neuzeir;
    src: url(../fonts/neuzeir.ttf);
   
}


@font-face {
    font-family: black;
    src: url(../fonts/futura_h.ttf);
   
}

body {
	background-color: #44436F;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1,h2,h3,h4{
	font-family: futura;
}

strong{
	font-family: black !important;
}

/*BACKGROUNDS*/

.somos_img{
	background: url(../images/3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.obj_img{
	background: url(../images/1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.confianza_img{
	background: url(../images/2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.upper{
	text-transform: uppercase;
}
.home{
	height: 100vh;
}

.tabla img{
	    width: 100%;
	height: 80vh;
}
/* MENU  */

.col-md-6{
	
}
.logo{

   
}
.menu, .menu2{
	z-index: 20;
}
.icon-bar{
	color: black !important;
}

.logo img{
	           height: 81px;
    margin-left: 10px;

}
.menu{
	background-color: #F5F5F5;
	font-family: neuzeir;
	font-weight: 100;
	font-size: 10px;
	 letter-spacing: 1px;
		padding: 0px;
	 padding-left: 0px !important;
    margin-left: 0px !important;
}

.menu a{
	color: #6D6C6C;
}

.m1{
	background-color: #EEEEF0;
}

.m1 :hover, .m1 :active, .m1:focus{
	background-color: #E0E0E6 !important;
}
.m2 :hover, .m2 :active, .m2:focus{
	background-color: #E0E0E6 !important;
}
.contact-mobile{
	display: none;
}

.navbar-nav>li>a{
	        padding: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    /*font-size: 8px;*/
}

.navbar-header{
	max-height: 80px;
}

 .menu2 .col-md-4{
	    padding: 20px;
    	letter-spacing: .5px;
}
.menu2{
	padding: 0px;
	margin:0px;
}
.menu .col-md-4{
	opacity: .9;
}
.menu2 img{
	height: 40px;
}
	.menu2 .col-md-4{
    min-height: 80px;
}
.social_mobile{
	display: none;
}
.twitter{
	background-color: #29A7DE
}
.face{
	background-color: #36609D;
}
.contact{
	background-color: #EEEEF0;
}

.twitter :hover{
	background-color: #66D1FF ;
}

.face :hover{
	background-color: #2867C3 ;
}

.contact :hover{
	background-color: #E1E1F5;
}

/*SECTIONS  ----------------------- */

.sidea, .sideb{
	min-height:100vh;
	margin-top: -80px

}
.frase{
	padding: 30px;
	    z-index: 20;
    position: fixed;
    font-size: 63px;
    font-family: futura;
    letter-spacing: 1px;
        font-weight: bolder;
     color: #E0E0E0;
    letter-spacing: 4px;
}

.ha{
	background-color: #2f2f37;
}

.hb{
	background-color: #3c3c46;
}

.sides{
	position: relative;
	top: 0px;
}
.frase,.sidea, .sideb{
	text-align: center;


}
/*SECTION 1*/
.s-1{
	background-color: #efeef5;
	padding-bottom: 20px;
}
.somos{
font-size: 29px;
font-family: neuzeir;
text-align: left;
padding: 140px;
padding-bottom: 20px;
}

.somos2{
	font-family: neuzeir;
	text-align: justify;
	padding-left: 140px;
	padding-right: 140px;
	color: #878390;
}

/*SECTION 2*/
.o-1{
background-color: #efeef5;
}
.o-1 .somos{
	    font-size: 30px;
}

/*SECTION 3*/

.c-1, .c-4{ background-color: #EFF1F4}
.c-2, .c-3{ background-color: #E7EBF1}

.c-5{ background-color: #F5F6F7}
.confiar{
	padding: 0px;
	font-family: neuzeir;
	    font-size: 1.6em;
}

.c-1, .c-2, .c-3, .c-4, .c-5{
	text-align: left;
	padding:25px;
	    padding-top: 40px;
}

/*SECTION 3*/

.e-1{

	padding: 50px;
	padding-top: 120px;
	font-size: 15px;
	text-align: justify;
	font-family: neuzeir;
}

.e-1 p{
	color: #564B7D;
}


/*CONTACT*/
#send_email{
	cursor: pointer;

}
.contact-mobile{
	display: none !important;
}

.mail{
	font-family: neuzeir;
	    padding-top: 50vh;
       font-size: 2em;

}
.mail a{
	color: #DC1050;
}
}

.ma{
	background-color: #EBEBEC;
}

.m-1{
	background-color: #EAEAEA !important;
	    color: aliceblue;
    letter-spacing: 3px;
}
.m-2{
	background-color: #EEEEF0;
	padding: 6em;
}
::-webkit-input-placeholder {
  color: #d3d3d3;
}

:-moz-placeholder { /* Firefox 18- */
  color: #d3d3d3;  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #d3d3d3;  
}

:-ms-input-placeholder {  
  color: #d3d3d3;  
}

.input-pimp input, .input-pimp textarea{
	font-family: neuzeir;
	font-weight: 100;
	letter-spacing: 1px;
	display: block;
    width: 100%;

    height: 54px;
        padding-top: 23px;
    padding-bottom: 0px;
    font-size: 21px;
    line-height: 1.42857143;
    color: #555;
    background-color: #EEEEF0;
    /* background-image: none; */
    border: 1px solid #EEEEF0;
    border-bottom: 2px solid #89D0EA;
}

.input-pimp form{
	padding-top: 30vh;
}

.input-pimp textarea{
	min-height: 6em;

}
.enviar{
	    color: #054060;
    font-size: 23px;
}

#message{
	padding-top: 20px;
	font-size: 12px;
    color: #51ABD0;
}


.c-1, .c-2{

	margin-top: 80px;

}

/*LOGROS----------------------------------*/

.part2{
	margin-top: 0px;
	font-family: neuzeir !important;
}

.a2{
	padding-top: 30px;
	color: #69697F;
	letter-spacing: 1px;
	font-size: 33px;
	background-color: #3C3C47;
}

.bright{
color: #9696AA;
}
.tag{
    padding-top: 3em;
    font-size: 23px;

}

.numbers{
    font-size: 18px;
    padding-top: 30px;;

}

.numbers span{
	padding-left: 10px;
	padding-right: 10px;
}

.numbers .si, .numbers .no{
	background-color: #2E2E39;
	border-radius: 88px;
	position: relative;
	padding-top: 10px;
	padding-bottom: 9px;
	padding-left: 10px;
	margin-left: 8px;
	margin-right: 9px;
	color: #595ED1;
	padding-right: 11px;

}

.numbers .no{
    background-color: #D5408C;
    padding-left: 9px;
    padding-right: 1px;
    color: #560F4C;

}
.a3 .title{
	font-size: 33px; 
	padding-bottom: 40px;
	color: #363644;
}
.a3 p{
	padding-bottom: 20px;
}

.a3{
	padding-top: 120px;
	font-size: 21px;
	padding-right: 70px;
	padding-left: 70px;
	color: #5A5A77;
	text-align: left;

}
.comment_a, .comment_b{
	font-size: 25gipx;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #9696AA;
	text-align: center;
	font-family: neuzeir;
	
}

.experiencia{
	font-family: neuzeir;
	font-size: 25px;
	color: #564B7D;
}
.comment_a{
	background-color: #3C3C47;
}

.comment_b{
	background-color: #2F2F38;
}

.super_title{
	text-align: left;
}
/*
GRAFICAS ########################################################################################### */

/* Charts start */
#chart_holder {
	width: 600px;
	height: 350px;
	margin: 0;
	padding: 0;
}

 #pie_chart {
	position: relative;
	float: left;
 	width: 40%;;
 	height: 300px;
 	padding: 0;
	margin-left: 25%;
	margin-top: 6%;;
	
}

 #pie_chart ul {
	list-style-type: none;
	width: 300px;
	height: 300px;
	
}
	
 #pie_chart li {
	position: absolute;
	top: 0px;
	width: 300px;
	height: 300px;
 	padding: 0;
 	margin: 0;
}

#pie_chart p {
	width: 300px;
	height: 300px;
 	padding: 0;
 	margin: 0;
}

#pie_chart li p { -webkit-transition: all .7s ease-out;}

#pie_chart span { display: block; width: 150px; height: 300px;}

#pie_chart ul :nth-child(odd) {
	clip: rect(0px, 300px, 300px, 150px);}

#pie_chart ul :nth-child(even) { clip: rect(0px, 150px, 300px, 0px);}

.pie_left{
	-moz-border-radius-topleft: 150px;
	-moz-border-radius-bottomleft: 150px;
	-webkit-border-top-left-radius: 150px;
	-webkit-border-bottom-left-radius: 150px;
	border-top-left-radius: 150px;
	border-bottom-left-radius: 150px;
}

.pie_right{
	margin-left: 150px;
	-moz-border-radius-topright: 150px;
	-moz-border-radius-bottomright: 150px;
	-webkit-border-top-right-radius: 150px;
	-webkit-border-bottom-right-radius: 150px;
	border-top-right-radius: 150px;
	border-bottom-right-radius: 150px;
}

#c1_l span {
	background: #2E2E39;
	
}

#c1_r span {
	background: #2E2E39;
	
}
 
#c2_l span {
	background: #D3448C;
	
}

#c2_r span {
	background: #D3448C;
	
}


/*Pie chart data (degree value) */

/*9%*/
#pie_chart ul :nth-child(1) p, #g1:target #pie_chart ul :nth-child(1) p{ -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg);}
#pie_chart ul :nth-child(2) p, #g1:target #pie_chart ul :nth-child(2) p{ -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg);}
#pie_chart ul :nth-child(3) p, #g1:target #pie_chart ul :nth-child(3) p{ -moz-transform: rotate(10deg); -webkit-transform: rotate(10deg); -o-transform: rotate(10deg);}
#pie_chart ul :nth-child(4) p, #g1:target #pie_chart ul :nth-child(4) p{ -moz-transform: rotate(-20deg); -webkit-transform: rotate(-20deg); -o-transform: rotate(-20deg);}

/*4%*/
#g2:target #pie_chart ul :nth-child(1) p{ -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg);}
#g2:target #pie_chart ul :nth-child(2) p{ -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg);}
#g2:target #pie_chart ul :nth-child(3) p{ -moz-transform: rotate(2deg); -webkit-transform: rotate(2deg); -o-transform: rotate(2deg);}
#g2:target #pie_chart ul :nth-child(4) p{ -moz-transform: rotate(-10deg); -webkit-transform: rotate(-10deg); -o-transform: rotate(-10deg);}

/*9%*/
#g3:target #pie_chart ul :nth-child(1) p{ -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg);}
#g3:target #pie_chart ul :nth-child(2) p{ -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg);}
#g3:target #pie_chart ul :nth-child(3) p{ -moz-transform: rotate(10deg); -webkit-transform: rotate(10deg); -o-transform: rotate(10deg);}
#g3:target #pie_chart ul :nth-child(4) p{ -moz-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); -o-transform: rotate(-5deg);}

/*20%*/
#g4:target #pie_chart ul :nth-child(1) p{ -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg);}
#g4:target #pie_chart ul :nth-child(2) p{ -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg);}
#g4:target #pie_chart ul :nth-child(3) p{ -moz-transform: rotate(10deg); -webkit-transform: rotate(10deg); -o-transform: rotate(10deg);}
#g4:target #pie_chart ul :nth-child(4) p{ -moz-transform: rotate(-40deg); -webkit-transform: rotate(-40deg); -o-transform: rotate(-40deg);}


/*
GRAFICAS ########################################################################################### */


.logros{
    color: #6B6B8E;

}

.logros .title{
    color: #EEE9F1;

}

/*ICONS  ----------------------------------------------------------------------------------############################- */

.right img{
	position: absolute;
    right: 10px;
    height: 26px;
    bottom: 10px;
}

.left img{
	position: absolute;
    left: 10px;
    height: 26px;
    bottom: 10px;
}


/* MEDIA */

.twist{
		    display: inherit;
	}

.twist_negative{
	display: none;
}

@media(max-width: 1355px){
	.navbar-right{
		font-size: 11px;
	}

	.navbar-nav>li>a{
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.somos, .somos2{
		padding-right: 40px;
		padding-left: 40px;
	}

}


@media(max-width: 1248px){
	.navbar-right{
		font-size: 10px;
	}

	.navbar-nav>li>a{
		padding-left: 10px;
		padding-right: 10px;
	}



}


@media(max-width: 1040px){
	.navbar-right{
		font-size: 9px;
	}

	


}






@media (max-width: 991px){

	.container-menu{
		    position: fixed;
    z-index: 100;
    width: 100%;
	}

	.twist{
		    display: inherit;
	}

	.twist_negative{
		display: none;
	}

	.sidea {
    min-height: 100vh;
    margin-top: inherit;
	}
	.sideb {
    min-height: 100px;
    margin-top: inherit;
	}
	
	.a2, .tabl{
		min-height: 20px !important;
		padding-bottom: 50px;
	}
	.tabla img{

		min-height:20px;
		height: initial; 

	}

	.somos{
		font-size: 48px !important;
		padding-top: 35px !important;
	}

	.somos2{
	font-size: 24px;
	}

	.text-side{
    height: inherit;
    min-height: 100px;
	}

	.img-side{
	    height: 100vh;
	    min-height: 100px ;
	}

	.frase{
		width: 100%;
	}
	.navbar-nav>li>a{
		    padding-top: 50px;
    		padding-bottom: 50px;
    		font-size: 30px;
	}

.twitter :hover{
	background-color: initial ;
}

.face :hover{
	background-color: initial ;
}


.contact,.twitter, .face {
    width: 33.33333333% !important;
}

.s-2{
	display: none;
}

/*.menu2 .col-md-4{
	    margin-right: 40px;

}*/
.frase{
font-size: 3em;
}

.somos, .somos2{
	padding: 0px;
	padding-top: 50px;

}

.o-1 .somos{
padding-top: 138px;}

.c-1, .c-2, .c-3, .c-4, .c-5{
	padding-top: 10%;
    font-size: 31px;
}

.e-1{
    padding-top: 200px;
}


/* ----------------------------------------  HEADER MOBILE   */

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
   
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

/* ----------------------------------------  HEADER MOBILE   */	
		.menu2{
			position: absolute !important;
		}
		.menu{
			position: relative !important;
			z-index: 10000;
		}
		.navbar-toggle .icon-bar {
	    border-radius: 11px;
	    display: block;
	    width: 33px;
	    height: 3px;
	    background-color: #4C4848;
	    border-radius: 1px;
	    
			}
	.mailer{
		min-height: 232px !important;
		
	}
	.in{
		z-index: 300;
	}
	.social_mobile{
		display: initial;
		    display: flex;
		    width: inherit;
		        right: 0px;
    position: absolute;
    
	}
	.no-mobile{
		display: none;
	}
	.menu, .menu2{
	position: fixed;
	}

	.contact-mobile{
	display: initial !important;
	}

	.face, .twitter{
    padding: 0px;
    margin: 0px;
       
	}
	.social_mobile .twitter , .social_mobile .face {
		width: 120px !important;
	}
	
	.social_mobile{
		    margin-right: 110px;
	}

	.navbar-toggle{
		padding: 0px;
		padding-top: 20px;
	            padding-right: 21px;
		z-index: 200;
	}
	.mail {
    
    padding-bottom: 100px;
    /* padding-top: 50vh; */
   
        padding-top: 210px;

}
.input-pimp form {
    padding-top: 0;
}
.input-pimp input, .input-pimp textarea {
    
    
    
   
   
    height: 75px;
    padding-top: 32px;
   
    font-size: 30px;
    
    /* background-image: none; */
    
   
}

.enviar {
    color: #054060;
    font-size: 32px;
}

#message{
	 font-size: 31px;

}

	.navbar-header {
     max-height: 120px; 
    height: 120px;
}

.face, .twitter {
 
    height: 120px;
        padding-top: 34px;
}


.navbar-toggle {

    padding-top: 42px;
    
}

.logo img {
    height: 100px;
    
    margin-top: 15px;
}

.icn{
		text-align: center;
    height: 38px;
  
    width: 100%;
	}

	.icn img{
		    position: relative;
	}
.c-1, .c-2{
	margin-top: 0px;
}

.confianza_icn{
	position: absolute;
	       background: #F4F5F6;
}

}



@media(max-width:900px)  {

	

	.menu, .menu2{
		width: 100%;
	}

	.navbar-header{
		z-index: 400;
		position: relative;
	}
	.frase{
		z-index: 1;
	}


}
@media(max-width:700px)  {

#pie_chart{
		    margin-left: 34%;
	}
}


@media(max-width:400px)  {


.m-2 {
    background-color: #EEEEF0;
    padding: 4em;
}

.menu2 img {
    height: 32px;
}

.face, .twitter{
    padding: 0px;
    margin: 0px;
    padding-right: 29px;
}

.social_mobile{
	display: none;
    margin-right: 16px !important;
}

}





#chart_holder  {
    width: 100%;
    margin: 0;

}






#slider  {
    overflow-y: hidden;
    overflow-x: auto;

}